/* =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================
*/
html,
body {
  background-colour:gray;
  left-margin: 30px;
  height: 100%;
}
p {
  margin-left: 120px;
  margin-right:120px;
  
}
header {
  background-color:gray;
  text-align:center;
  padding:20px 10px;
  font-size:18px;
}
h1 {
  text-align:center;
  color:red;
}


/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors { display:none }

